<h2>{{sentence.text}}</h2>

<div>

  {{#each sentence.paths}}
  {{#if this }}
  <div>
    <a href="/sentences/{{sentenceId}}">{{text}}</a>
  </div>
  {{else}}
  <div>
    <form method="post" action="/sentences/{{../sentence.id}}">
      <input type="hidden" name="pathIndex" value="{{@index}}">
      <input type="text" size="50" name="text" placeholder="enter continuation" />
      <input type="submit" />
    </form>
  </div>
  {{/if}}
  <br>
  {{/each}}

</div>